parameters:
    "natis_details":
        "user-first-name":
            natis_username: nottherealusername
            natis_password: nottherealpassword

    telegram_api_key: 'Nottherealkey'
    telegram_chat_id: nottherealchatid